<?xml version="1.0" encoding="UTF-8"?>

<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OOP Project - Online Tour Guide</display-name>
  
  <servlet>
    <servlet-name>AddTour</servlet-name>
    <servlet-class>oop.tourguide.servlet.AddTour</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddTour</servlet-name>
    <url-pattern>/AddTour</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteTour</servlet-name>
    <servlet-class>oop.tourguide.servlet.DeleteTour</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteTour</servlet-name>
    <url-pattern>/DeleteTour</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>DisplayTour</servlet-name>
    <servlet-class>oop.tourguide.servlet.DisplayTour</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DisplayTour</servlet-name>
    <url-pattern>/DisplayTour</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>UpdateTour</servlet-name>
    <servlet-class>oop.tourguide.servlet.UpdateTour</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateTour</servlet-name>
    <url-pattern>/UpdateTour</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>
  
</web-app>
</element>